<div class="fixed-bottom bg-dark text-center border-top border-secondary p-1">
    <div class="row text-white-50">
        <div class="col text-start">
            <p class="p-0 m-0">&copy; 2024 Max S. & Sandro H.</p>
        </div>
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col text-end">
                        <a class="link-secondary link-underline link-underline-opacity-0 link-underline-opacity-100-hover" href="/impressum">Impressum</a>
                    </div>
                    <div class="col-md-auto">
                        <div class="vr"></div>
                    </div>
                    <div class="col text-start">
                        <a class="link-secondary link-underline link-underline-opacity-0 link-underline-opacity-100-hover" href="/datenschutz">Datenschutz</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>