<div class="vh-100 bg-dark bg-gradient text-white">
    <div class = "container">

        <div class="card-body text-center pt-5">
            <h1 class="display-3">{{ title }}</h1>
        </div>

        <div>
            <div class = "text-center pt-5">
                <p>
                    Anzahl von Spielern:
                </p>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="btnradio1">2 Spieler</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">3 Spieler</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">4 Spieler</label>
                </div>
            </div>

            <div class = "text-center pt-5">
                <p>
                    Anzahl an Runden:
                </p>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="btnradio1">1 Runde</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">2 Runden</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">3 Runden</label>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer}}