{{!-- {{> menu }} --}}

<div class="p-3 mb-2 bg-dark text-white card mt-3">.bg-dark
    <div class="card-body">
        <h3 class="card-title">{{ title }}</h3>
    </div>
    <div class = "text-center d-grid gap-3">
        <div>
            <button type="button" class="btn btn-light">Erstelle Spiel</button>
        </div>
        <div>
            <button type="button" class="btn btn-info">Spiel beitreten</button>
        </div>
        <div>
            <button type="button" class="btn btn-light">Anleitung</button>
        </div>
        <div>
            <button type="button" class="btn btn-info">Einstellungen</button>
        </div>
    </div>

</div>