{{!-- {{> menu }} --}}

<div class="vh-100 bg-dark bg-gradient text-white">
    <div class="card-body text-center">
        <h1 class="display-3">{{ title }}</h1>
    </div>
    <div class="text-center d-grid gap-3">
        <div>
            <button type="button" class="btn btn-light">Erstelle Spiel</button>
        </div>
        <div>
            <button type="button" class="btn btn-info">Spiel beitreten</button>
        </div>
        <div>
            <button type="button" class="btn btn-light">Anleitung</button>
        </div>
        <div>
            <button type="button" class="btn btn-info">Einstellungen</button>
        </div>
    </div>
</div>

{{> footer }}